*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#principal #title{
    border: solid black 2px; 
    border-radius: 7px; 
    background-color: whitesmoke; 
    color: black; 
    width: 100%; 
    text-align: center; 
    font-weight: bold; 
    font-size: 25px;
}
#principal #receta{
    width: 33%;
    height: 60vh;
    border: solid black 2px; 
    border-radius: 7px; 
    display: flex; 
    flex-wrap: wrap;
    background-color: rgb(231, 205, 171);
}
#principal img{
    display: flex;
    justify-content: center;
}